.tour-package-filter{
  border-bottom: 1px solid $grey6;
  .filter-line{
    margin-bottom: 20px;
    @media #{$Mobile}  {
      display: none;
    }
  }
  .sub-content-1{
    width: 200px;
    height: 20px;
    color: #333;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid $grey6;
  }
  .sub-content-2{
    padding-left: 17px;
    color: #333;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    @media #{$Mobile}  {
      display: none;
    }
  }
}