.lower-section-details{
  .content-layer{
    margin-top: 35px;
    margin-bottom: 50px;
    @media #{$Mobile}  {
      margin-top: 25px;
    }
    p{
      margin-bottom: 30px;
      text-align: left;
      font: normal normal normal 16px/27px $mainFont;
      letter-spacing: 0px;
      color: $content-details-color;
      opacity: 1;
      @media #{$Mobile}  {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}