.section-header{
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  @media #{$Mobile}  {
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
  }
  .section-name{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    @media #{$Mobile}  {
      width: 80%;
    }
    span{
      text-align: left;
      font-family: $mainFont;
      font-weight: 900;
      font-size: 35px;
      line-height: 48px;
      letter-spacing: 0px;
      color: #1B202C;
      opacity: 1;
      @media #{$Mobile}  {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .view-all{
    display: none;
    width: 20%;
    font-weight: 600;
    @media #{$Mobile}  {
      display: block;
      //width: 10%;
    }
    span{
      display: block;
      text-align: right;
      letter-spacing: 0px;
      color: $grey;
      opacity: 1;
      font-size: 14px ;
    }
  }
  .section-controllers{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$Mobile}  {
     display: none;
    }
    span{
      cursor: pointer;
      text-align: right;
      text-decoration: underline;
      font-family: $mainFont;
      font-weight: medium;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0px;
      color: #1B202C;
      opacity: 1;
      padding-right: 2%;
      @media #{$Mobile}  {
        font-size: 10px;
        line-height: 20px;
      }
    }
    .slider-button2{
      cursor: pointer;
    }
  }
}