.things-to-do-mobile-slider{

  @media #{$Mobile}  {
    //display: flex !important;
  }
  .slick-slider{
    display: none;
    @media #{$Mobile}  {
      margin-left: 10px !important;
      display: flex !important;
    }
    .slick-list{
      .slick-track{
        @media #{$Mobile}  {
          display: flex !important;
        }
      }
    }
  }
}
