.img-background-card-4 {
  width: 268px;
  height: 320px;
  transition: transform 0.3s;
  @media #{$Mobile}  {
    width: 160px;
    height:  257px;
  }
  .img-section {
    width: 268px;
    height: 283px;
    border-radius: 10px;
    @media #{$Mobile}  {
      width: 160px;
      height: 160px;
    }
  }

  .content-section-card4 {
    margin-top: 8px;

    .content1 {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .hotel-name {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        @media #{$Mobile}  {
          display: none;
        }
      }
      .mobile-rate{
        display: none;
        @media #{$Mobile}  {
          display: flex;
          width: 50%;
          justify-content: flex-start;
        }
      }
      .hotel-category {
        width: 50%;
        text-align: left;
        font: normal normal normal 14px/19px $mainFont;
        letter-spacing: 0px;
        color: $grey;
        opacity: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 3%;
        @media #{$Mobile}  {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
    .content2{
      text-align: left;
      //font: normal normal medium 18px/24px Avenir;
      letter-spacing: 0px;
      color: $black1;
      text-transform: capitalize;
      opacity: 1;
      height: 25px;
      font-size: 16px;
      font-style: normal;
      //line-height: 22px;
      font-family: $mainFont;
      margin-bottom: 1px;
      @media #{$Mobile}  {
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .content3 {
      display: flex;
      margin-top: 5px;
      @media #{$Mobile}  {
        display: block;
      }
      .location {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font: normal normal 900 14px/14px $mainFont;
        letter-spacing: 0.2px;
        color: #1D5AFF;
        opacity: 1;
        @media #{$Mobile}  {
          width: 100%;
          font-size: 14px;
          line-height: 8px;
        }
        .location-img {
          width: 13px;
          height: 13px;
          @media #{$Mobile}  {
            font-size: 8px;
            line-height: 8px;
          }
        }
      }
      .price-sec{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        align-items: center;
        @media #{$Mobile}  {
          width: 100%;
          justify-content: flex-start;
          margin-top: 5px;
          margin-left: 2px;
        }
        .price{
          text-align: right;
          font: normal normal 900 16px/19px $mainFont;
          letter-spacing: 0px;
          color: #000000;
          @media #{$Mobile}  {
            font-size: 14px;
            line-height: 8px;
          }
        }
        .unit{
          text-align: right;
          font: normal normal medium 14px/19px $mainFont;
          letter-spacing: 0px;
          color: #939393;
          @media #{$Mobile}  {
            font-size: 14px;
            line-height: 8px;
          }
        }
      }
    }
  }
}


.img-background-card-4:hover {
  //transform: scale(1.05);
  @media #{$Mobile}  {
    transform: unset;
  }
}
