footer{
  height: 391px;
  background: $popular-black 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
  @media #{$Mobile}  {
    height: unset;
  }
  .container{
    @media #{$Mobile}{
      padding: 0;
    }
    .footer-top-row{
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 4%;
      //border-bottom: 1px solid #CCCCCC;
      @media #{$Mobile}  {
        margin-left:0;
        margin-right: 0;
        margin-top: 50px;
      }

      .content-one-p{
        margin-top: 22px;
        width: 268px;
        height: 61px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 14px/21px $mainFont;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        @media #{$Mobile}  {
          font-size: 14px;
          line-height: 21px;
          width: unset;
          margin-top: 12px;
        }
      }
      .social-media-footer{
        display: flex;
        margin-bottom: 75px;
        @media #{$Mobile}  {
          margin-bottom: 60px;
        }
        @media #{$Tablet}  {
          margin-top: 40px;
          margin-bottom: 0;
        }
        span{
          margin-right: 25px;
        }
      }
      .contact-us{
        @media #{$Mobile}  {
          margin-bottom: 60px;
        }
        @media #{$Tablet}  {
          margin-bottom: 0;
        }
        h5{
          width: 83px;
          height: 22px;
          /* UI Properties */
          text-align: left;
          font: normal normal 900 16px/26px $mainFont;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 34px;
          @media #{$Mobile}  {
            margin-bottom: 20px;
          }
        }
        .contact-item{

        }
      }
      .useful-info{
        @media #{$Mobile}  {
          padding-bottom: 30px;
        }
        h5{
          width: 83px;
          height: 22px;
          /* UI Properties */
          text-align: left;
          font: normal normal 900 16px/26px $mainFont;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 34px;
          @media #{$Mobile}  {
            margin-bottom: 20px;
          }
        }
        p{
          text-align: left;
          font: normal normal normal 14px/22px $mainFont;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
        }
      }
    }
    hr{
      color: #CCCCCC;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
    }
    .footer-bottom-row{
      margin-top: 2%;
      @media #{$Mobile}  {
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 50px;
      }
      span{
        text-align: left;
        font: normal normal normal 14px/26px $mainFont;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.8;
        @media #{$Mobile}  {
          font-size: 14px;
        }
        a{
          cursor: pointer;
        }
      }
      .all-right-res{
        text-align: left;
        font: normal normal normal 14px/26px $mainFont;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.8;
        margin-left: 8%;
        @media #{$Mobile}  {
          font-size: 14px;
          margin-left: unset;
        }
      }
    }
  }

}
