@import './variables';

//atomics styles
@import "../components/atoms/Buttons/FlatButton/FlatRoundButton";
@import "../components/atoms/Buttons/IconButton/iconButton";
@import "../components/atoms/Buttons/RoundedButtons/SliderButton/sliderButton";
@import "../components/atoms/Buttons/RoundedButtons/AngleRoundedButtons/angleRoundedButton";
@import "../components/atoms/Buttons/FlatButton/MobileButton/mobileButton";
@import "../components/atoms/Buttons/FilterButton/mobileFilter";
@import "../components/atoms/Logo/logo.scss";
@import "../components/atoms/Headers/pageHeader";
@import "../components/atoms/Input/BorderSelect/borderSelect";
@import "../components/atoms/Input/RoundedSelect/roundedSelect";
@import "../components/atoms/Input/CheckBoxList/checkBoxList";
@import "../components/atoms/Input/Range/range";
@import "../components/atoms/Input/Range/multiRangeSlider";
@import "../components/atoms/Input/Radio/radioInput";

@import "../components/atoms/Cards/Card1/card1";
@import "../components/atoms/Cards/Card2/card2";
@import "../components/atoms/Cards/Card3/card3";
@import "../components/atoms/Cards/Card4/card4";
@import "../components/atoms/Cards/PackageCard/packageCard";
@import "../components/atoms/Cards/PackageCradSquare/packagecardHotels";
@import "../components/atoms/Cards/SmallCard/smallCard";

@import "../components/atoms/Badges/PPBadge/ppBadge";

@import "../components/atoms/Text/UndelinedText/underlinedText";
@import "../components/atoms/Text/SubHeader/subHeader";

@import "../components/atoms/Accordian/accordionOne";

@import "../components/molecules/Slider/Carousal/CardsCarousal/4CardsSlider/cardCarousal";
@import "../components/molecules/Slider/Carousal/MulitiRowCardCarousal/multipleRowCarousal";

@import "../components/molecules/MenuSection/menuSection.scss";
@import "../components/molecules/ButtonsMenu/buttonsMenuSection.scss";
@import "../components/molecules/SocialMediaMenu/socialMediaMenu";
@import "../components/molecules/SectionHeader/sectionHeader";
@import "../components/molecules/Contents/HomePageSubContents/ContactUs/contactUsDetail";
@import "../components/molecules/MenuSection/MobileMenu/mobileMenu";
@import "../components/molecules/ButtonsMenu/MobileButtonMenu/mobileButtonMenu";
@import "../components/molecules/Breadcrumb/breadCrumb";
@import "../components/molecules/Gallery/collageGallery";
@import "../components/molecules/Contents/TourPageSubContents/LowerSectionHeading/lowerSectionHeading";
@import "../components/molecules/Contents/TourPageSubContents/LowerSectionDetails/lowerSectionDetails";
@import "../components/molecules/Contents/TourPageSubContents/LowerSectionLocationImage/locationImageSection";
@import "../components/molecules/Contents/TourPageSubContents/Highlights/highligts";
@import "../components/molecules/Contents/TourPageSubContents/TourIncludes/toursIncluded";
@import "../components/molecules/Contents/TourPageSubContents/ReviewsSection/reviews";
@import "../components/molecules/Contents/TourPageSubContents/ReviewsSection/ReviewItem/reviewItem";
@import "../components/molecules/Contents/TourPageSubContents/AccordionSection/accordionSection";
@import "../components/molecules/Contents/TourPageSubContents/OtherSection/.other-details";
@import "../components/molecules/Contents/TourPageSubContents/OtherSection/OtherDetailsItem/otherDetailsItem";
@import "../components/molecules/Contents/HotelsPage/HotelsPageRight/hotelPageRight";
@import "../components/molecules/CardsMenu/PriceSelectorCard/priceCard";
@import "../components/molecules/Header/Modals/mobileFilterModalHeader";

@import "../components/organisms/NavigationBar/navigationBar.scss";
@import "../components/organisms/Sliders/HeroSLider/heroSlider.scss";
@import "../components/organisms/MobileDarwer/mobileDrawer";
@import "../components/organisms/Contents/OtherSayingContent/Desktop/otherSaying";
@import "../components/organisms/Contents/OtherSayingContent/Mobile/otherSayingMobile";
@import "../components/organisms/Contents/TourPackagePageContent/TourPackagePageItem/tourPackagePageItem";
@import "../components/organisms/Sliders/CardSlider/MobileCardSliders/ThingsToDO/ThingsToDoMobileSlider";
@import "../components/organisms/Sliders/CardSlider/MobileCardSliders/TopTours/topToursMobile";
@import "../components/organisms/Sliders/CardSlider/MobileCardSliders/LocalCraft/craftsMobileSlider";
@import "../components/organisms/Sliders/CardSlider/MobileCardSliders/Hotels/hotelsMobile";
@import "../components/organisms/Sliders/GallerySilder/gallerySlider";
@import "../components/organisms/Banners/Banner1/banner1";

//Templates

@import "../components/templates/HomePagetemplates/RentATukTukSection/rentATuk";
@import "../components/templates/HomePagetemplates/LocalCraftsSection/localCrafts";
@import "../components/templates/HomePagetemplates/HotelsSection/hotelsSection";
@import "../components/templates/Footer/footer";
@import "../components/templates/HomePagetemplates/HomePageHeroSection/homePageHeroSection";
@import "../components/templates/ToursPageTemplate/FourImageSection/fourImageSection";
@import "../components/templates/ToursPageTemplate/LowerPageSections/lowerpageSection";
@import "../components/templates/ToursPageTemplate/MobileImageSection/-mobileImageSection";
@import "../components/templates/ToursPageTemplate/LocationInfo/locationInfo";
@import "../components/templates/TourPackagesPagesTemplate/FilterSection/filterSection";


@import "../pages/Tours/PackageTours/packageTours";
@import "../pages/Hotels/hotelPackage";

//common
@import "common";


.home{
  position: relative;
  width: 100%;
}
.tours{
  width: auto !important;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-top: 40px!important;
  @media #{$Mobile}  {
    margin-left: unset !important;
    margin-right: unset !important;
    margin-top: 0 !important;
  }
}

.home-highlights{
  border-top: 1px solid gray;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
}

