.card-carousal-content{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  @media #{$Mobile}  {
   display: none;
  }
  .slick-slider{
    .slick-list{
      @media #{$Mobile}  {
        display: flex !important;
      }
      .slick-track {
        //transform: translate3d(-234px, 0px, 0px) !important;
        //@media #{$Mobile}  {
        // display: flex !important;
        //  justify-content: center !important;
        //}
        //.slick-slide{
        //  @media #{$Mobile}  {
        //    width:225px !important;
        //    padding: 1px !important;
        //  }
        //}
        // .slick-current{
        //  @media #{$Mobile}  {
        //    width:225px !important;
        //    }
        //  }
        //.slick-active {
        //  @media #{$Mobile}  {
        //    width: 225px !important;
        //  }
        //}
      }
    }
  }
}

.card-carousal-content-2{
  margin: 2%;
  @media #{$Mobile}  {
    margin: unset;
    display: none;
  }
}

