.things-to-do-page{
  width: auto !important;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-top: 40px!important;
  @media #{$Mobile}  {
    margin-left: unset !important;
    margin-right: unset !important;
    margin-top: 75px !important;
    overflow-y: hidden;
  }
  .discover-experience{
    display: flex;
    justify-content: space-evenly;
    @media #{$Mobile}  {
      display: block;
    }
  }
}