.review-item{
  display: flex;
  margin-bottom: 40px;
  img{
    width: 66px;
    height: 66px;
    @media #{$Mobile}  {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }
  }
  .comment{
    margin-left: 12px;
    width: 90%;
    h5{
      color: $pageHeader;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    p{
      color: $commentText;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    span{
      color:$commentText2;
      font-family: $mainFont;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}