.mobile-tour-details-section{
  display: none;
  height: 550px;
  @media #{$Mobile}  {
    display: block;
  }
  .content-box{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 5%;
    h4{
      color: #FFF;
      font-family: $mainFont;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    @media #{$Mobile}  {
      background: linear-gradient(360deg,rgba(0,0,0,.85) 2%,transparent 100%);
      left: 0%;
      top: 32%;
      width: 100%;
      padding-left: 5%;
      padding-bottom: 16%;
    }
  }
  .small-cards-section{
    margin-top: 40px;
  }
}