.other-detail{
  display: flex;
  margin-bottom: 25px;
  img{
    width: 24px;
    height: 24px;
  }
  .content{
    margin-left: 18px;
    display: block;
    h6{
      color: $pageHeader;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin: 0;
    }
    span{
      color: $grey3;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}