.sub-header{
  height: 33px;
  text-align: left;
  font: normal normal 900 24px/24px $mainFont;
  letter-spacing: 0px;
  color: $pageHeader;
  opacity: 1;
  @media #{$Mobile}  {
    color: $pageHeader;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}