.other-saying-mobile{
  display: none;
  height: 386px;
  width: 100%;
  margin-bottom: 50px;
  @media #{$Mobile}  {
    display: block;
  }
  .top-section{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    .inside-box{
      margin: 25px;
      h4{
        text-align: left;
        font: normal normal 900 22px/24px $mainFont;
        letter-spacing: 0px;
        color: #1B202C;
        opacity: 1;
      }
      p{
        /* UI Properties */
        text-align: left;
        font: normal normal normal 14px/19px Avenir;
        letter-spacing: 0px;
        color: #1B202C;
        opacity: 1;
      }
    }

  }
  .bottom-section{
    height: 153px;
    img{
      width: 100%;
      height: 153px;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-origin: padding-box;
      background-size: contain;
      object-fit: cover;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}