.hotel-package{
  width: auto !important;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-top: 40px!important;
  @media #{$Mobile}  {
    margin-left: unset !important;
    margin-right: unset !important;
    margin-top: 75px !important;
  }
  .hotel-layout{

    .checkbox-section{
      @media #{$Mobile}  {
        display: none;
      }
    }
    .hotel-layout-col{
      @media #{$Tablet}  {
        width: 100% !important;
      }
      .hotels-list{
        @media #{$Mobile}  {
          justify-content: center;
        }
      }
    }

  }
}