.img-background-card{
  transition: transform 0.3s;
  width: 268px;
  height:379px;
  opacity: 1;
  background-color: transparent;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  //border: 1px solid black;
  background-size: cover;
  position: relative;
  //border-radius: 10px;
  @media #{$Mobile}  {
    width: 218px  !important;
    height: 300px !important;
    border-radius: 10px !important;
  }
  .content-section{
    top: 69%;
    position: absolute;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1B202C00 0%, #1B202C 100%);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    height: 120px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    @media #{$Mobile}  {
      height: 93px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .content1{
      text-align:left;
      font-weight: bold;
      font-size: 25px;
      font-family: $latoFont;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin-left: 30px;
      margin-top: 20px;
      @media #{$Mobile}  {
        font-size: 20px;
        margin-left: 20px;
      }
    }
    .content2{
      text-align: left;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 18px;
      //line-height: 62px;
      font-family: $mainFont;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin-left: 30px;
      @media #{$Mobile}  {
        font-size: 14px;
        margin-left: 20px;
      }
    }
  }

}


.img-background-card:hover {
  transform: scale(1.05);
  @media #{$Mobile}  {
    transform: unset;
  }
}


.card1{
  margin-top: 20px;
  margin-left: 10%;
  cursor: pointer;
  height: 400px;
  border-radius: 16px;
  @media #{$Mobile}  {
    margin-left: unset;
    display: flex !important;
    justify-content: center;
    margin-top: 15px;
    width: 218px  !important;;
    height: 300px  !important;;
  }
  @media #{$Tablet}  {
    margin-left: unset;
  }
}

.card3{
  //margin-top: 20px;
  //margin-left: 10%;
  cursor: pointer;
  @media #{$Mobile}  {
    margin-left: unset;
    display: flex !important;
    justify-content: center;
    width: 193px  !important;;
    height: 256px  !important;;
  }
  @media #{$Tablet}  {
    margin-left: unset;
  }
}

.card4{
  height: 400px;
  cursor: pointer;
  margin-top: 5%;
  @media #{$Mobile}  {
    margin-left: unset;
    display: flex !important;
    justify-content: center;
    width: 160px  !important;;
    height: 270px  !important;;
  }
}

.card5{
  margin-top: 20px;
  margin-left: 10%;
  cursor: pointer;
  height: 280px;
  border-radius: 16px;
}