.contact-us-detail{
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  img{
    width: 24px;
    height: 24px;

  }
  span{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 276px;
    text-align: left;
    font: normal normal normal 14px/22px "Nunito Sans", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    @media #{$Mobile}  {
      font-size: 14px;
      height: unset;
    }
    @media #{$Tablet}  {
     height: 55px;
    }
  }
}
